[Desktop Entry]
Name=Animated Wallpaper
Name[de]=Animierte Hintergrundbilder
Comment[de]=Verwaltung von animierten Hintergrundbildern
Comment=Control of animated Wallpaper
Keywords[de]=Hintergrund;Animation;Wallpaper;
Keywords=Animation;Wallpaper;GTK;Background;
OnlyShowIn=GNOME;Unity;
Exec=/usr/local/share/awp/awp.sh
Icon=/usr/local/share/awp/awp_wallpaper_icon.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Utility;Graphics;
